@tailwind base;
@tailwind components;
@tailwind utilities;

/*
        blueDark: '#1a237e',
        blueLight: '#a7abd1',
        yellow: '#ffca28',
        grayDark: '#333333',

        */

@layer components {
  .text-stroke-blue {
    -webkit-text-stroke: 1.5px #33397d;
  }

  .text-stroke-yellow {
    -webkit-text-stroke: 1.5px #ffca28;
  }
}
