@tailwind base;
@tailwind components;
@tailwind utilities;

/*
        blueDark: '#1a237e',
        blueLight: '#a7abd1',
        yellow: '#ffca28',
        grayDark: '#333333',

        */

@layer components {
  .text-stroke-blue {
    -webkit-text-stroke: 2px #33397d;
  }

  .text-stroke-yellow {
    -webkit-text-stroke: 2px #ffca28;
  }
  .text-stroke-lightBlue {
    -webkit-text-stroke: 2px #a7abd1;
  }
  .text-stroke-white {
    -webkit-text-stroke: 2px rgb(229, 231, 235);
  }
}
